.bg-grey {
  background-color:#e9ecef;
}

.bg-black {
  background-color:#000000;
}

/* Remove the small arrows in the input number for the sudoku grid */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width:767px)
{
  input[type=number] {
    -moz-appearance: textfield;
    padding: 8px;
    height: 35px;
    width: 100%;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td { 
  height: 5px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.card-header{
  background-color: #e9ecef;
}

@media (max-width:767px)
{
  .card{
    margin-top:10px;
    margin-bottom:20px;
  }
}

#spinner {
  display: none;
  width: 10rem; 
  height: 10rem;
}

.card-text {
  display: inline-block;
}

.btn-group {
  float: right;
}

#no-solution-msg, #grid-not-detected-msg {
  display: none;
}

#photodiv {
  text-align: center;
}
